@charset "utf-8";

/* ----- reset ------ */
html,
body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

form,
input,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

img {
  border: 0;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0 !important;
}

table,
tr,
th,
td {
  vertical-align: middle;
}

th,
td {
  padding: 0;
}

textarea,
input {
  padding: 0;
  margin: 0;
  outline: none;
}

fieldset {
  display: block;
  border: none;
  padding: 0;
  margin: 0;
}

legend,
caption {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  font-size: 0;
  line-height: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a[href="#none"] {
  cursor: default;
}

caption,
legend {
  display: none;
}

strong,
em,
h1,
h2,
h3,
h4,
h5,
b,
dl,
dt,
dd {
  font-style: normal;
}

html {
  font-size: 62.5%;
}

body {
  color: #444;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
}

.screen--out {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

.icon__comn img {
  width: 100%;
  object-fit: contain;
  vertical-align: bottom;
}

/* ----- 공통 ------ */
.wrapper {
  max-width: 120rem;
  margin: 0 auto;
  padding-top: 5rem;
  padding-right: 2.4rem;
  padding-left: 2.4rem;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 3rem;
  text-align: center;
  padding: 3rem 0;
  border-bottom: 2px solid royalblue;
}

.sub-title {
  font-size: 1.8rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  color: darkblue;
}

.main {
  font-size: 1.4rem;
  line-height: 1.4;
  border-top: 1px solid #E5E5E5;
}

.cont_main {
  display: block;
  position: relative;
  width: 100%;
  min-width: 1440px;
}

/* content__feature */
.content__feature {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 0 auto;
  background-color: #000;
}

/* 페이지 경로 */
.path__section {
  min-width: 115.2rem;
  width: 100%;
  height: 5rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #F0F0F0;
  background-color: #FFF;
}

.path__section .path__inner {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  max-width: 115rem;
  min-width: 115rem;
  height: 5rem;
  margin: 0 auto;
  padding: 0 4rem;
  -ms-flex-pack: start;
  justify-content: start;
  text-align: left;
}

.path__list {
  float: left;
  margin-top: 16px;
}

.path__list li {
  float: left;
}

.path__list li:last-child .path__link {
  font-weight: 500;
  color: #333;
}

.path__list .path__link {
  font-size: 13px;
  line-height: 1.46;
  color: #666;
}

.path__list .path__icon {
  float: right;
  margin: 0 2px;
  width: 16px;
  height: 16px;
  background-position: -80px -32px;
}

.path__list:after {
  display: block;
  clear: both;
  content: '';
}

/* 비주얼 */
.visual__section {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 30rem;
  margin: 0 auto;
}

.visual__wrap {
  width: 100%;
  height: 100%;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
}

.visual__inner {
  position: relative;
  max-width: 115rem;
  min-width: 115rem;
  margin: 0 auto;
  padding: 0 4rem;
  text-align: left;
}

.visual__title {
  display: block;
  padding-top: 4rem;
  text-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.18);
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
}

.visual__info {
  display: block;
  padding-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4;
  color: #fff;
}

.depth2__visual .visual__wrap {
  background-image: url("img/main_banner_02.png")
}

/* 컨텐츠 */
.depth2__title {
  display: block;
  padding-top: 4rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
}

.depth2__info {
  display: block;
  padding-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4;
  color: #fff;
}

.search__section {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 4rem 4rem;
}

.search__form__field {
  display: flex;
  align-items: center;
}

.search__form__wrap {
  margin-right: 10px;
}

.tag__wrap>.tag__link {
  margin: 0.8rem 0.8rem 0 0;
  padding: 0.7rem 1.4rem;
  color: #999;
  line-height: 2.3rem;
  border: 1px solid #ddd;
  border-radius: 1.8rem;
  display: inline-block;
  transition: .3s ease all;
}

.tag__wrap>.tag__link.active,
.tag__wrap>.tag__link:hover {
  color: #fff;
  border-color: #2AC1BC;
  background-color: #2AC1BC;
}

.tag__wrap>.tag__link:before {
  color: inherit;
  display: inline-block;
  content: "#";
}

.영역1__section {
  overflow: hidden;
  position: relative;
  width: 100%;
  background: #f5f5f5;
  padding: 4rem 4rem;
}

.영역1__intro {
  margin-bottom: 2rem;
}

.영역1__title {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.4;
}

.영역1__text {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4;
}

.영역1__desc {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4;
}

.영역1__list {
  display: flex;
  justify-content: space-between;
}

.영역1__item {
  position: relative;
  max-width: calc((100% - 82px) / 4);
  width: 100%;
  height: 134px;
  padding: 24px 25px 84px;
  border-radius: 20px;
  background-color: white;
  box-sizing: border-box;
}

.영역1_content .icon__comn {
  position: relative;
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.영역1_content-title {
  display: inline-block;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.5;
  color: #1A1A1A;
}

.영역1_content-desc {
  padding-left: 4.2rem;
}

.영역1_content .icon__comn.ico_name1 {
  top: .6rem;
  background-image: url("img/facebook_i.png");
}

.영역1_content .icon__comn.ico_name2 {
  background-image: url("img/facebook_i.png");
}

.영역1_content .icon__comn.ico_name3 {
  background-image: url("img/facebook_i.png");
}

.영역1_content .icon__comn.ico_name4 {
  background-image: url("img/facebook_i.png");
}

.영역2__section {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 4rem 4rem;
}

.영역2__inner {
  display: flex;
}

.영역2__link {
  display: block;
  position: relative;
  width: 340px;
  height: 524px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}

.영역2__content_wrap {
  margin-top: 10rem;
  margin-left: 14rem;
}

.영역2__info {
  margin-bottom: 2rem;
}

.영역2__title {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.4;
}

.영역2__text {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4;
}

.영역2__desc {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4;
}

.영역2__content__title {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.4;
}

.영역2__content__text {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.4;
}

.영역2__content__desc {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4;
}

@media screen and (max-width:1023px) {}


@media screen and (max-width: 979px) {}

@media screen and (min-width:768px) {}

@media screen and (max-width:767px) {}

@media screen and (max-width:528px) {}

@media screen and (max-width:479px) {}
